[submodule "plugins/vim-airline"]
	path = plugins/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "plugins/nerdtree"]
	path = plugins/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "plugins/ctrlp"]
	path = plugins/ctrlp
	url = git@github.com:kien/ctrlp.vim.git
[submodule "plugins/ale"]
	path = plugins/ale
	url = git@github.com:dense-analysis/ale.git
[submodule "plugins/vim-airline-themes"]
	path = plugins/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "plugins/vim-gitgutter"]
	path = plugins/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "plugins/vim-javascript"]
	path = plugins/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "plugins/gruvbox"]
	path = plugins/gruvbox
	url = git@github.com:morhetz/gruvbox.git
