[submodule "plugins/vim-airline"]
	path = plugins/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "plugins/nerdtree"]
	path = plugins/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "plugins/ctrlp"]
	path = plugins/ctrlp
	url = git@github.com:kien/ctrlp.vim.git
[submodule "colors/vim-monokai"]
	path = colors/vim-monokai
	url = git@github.com:sickill/vim-monokai.git
[submodule "plugins/vim-monokai"]
	path = plugins/vim-monokai
	url = git@github.com:sickill/vim-monokai.git
